.tag{
  font-size: 10px;
  border-radius: 20px;
  padding: 6px 18px;
  color: white;
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
}

.title{
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 700;
  color: #2b0658;
}

.answers{
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #ccc
}

.name-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.image{
  width: 40px;
  height: auto;
  margin-right: 8px;
}

.det{
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.name-position{
  display: flex;
  flex-direction: column;
}

.name{
  color: #2b0658;
  font-size: 16px;
  font-weight: 700;
}

.position{
  color: #ccc;
  font-size: 12px;
  font-weight: 500;
}

.date{
  text-align: end;
  font-size: 12px;
  font-weight: 600;
}

.description{
  margin-top: 0.25rem;
  font-size: 15px;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.status-bar{
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.report-section{
  display: flex;
  align-items: center;
  margin-left: auto;
}


.like{
  font-size: 20px;
  cursor: pointer;
}

.like-number{
  font-size: 13px;
  color: rgb(117, 117, 117);
  margin-right: 10px;
}


.dislike-number{
  font-size: 13px;
  color: rgb(117, 117, 117);
}

.comment{
  margin-left: 10px;
  font-size: 17px;
  cursor: pointer;
}

.comment-number{
  font-size: 13px;
  margin-left: 4px;
  color: rgb(117, 117, 117);
}

.bookmark{
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.share{
  margin-right: 10px;
  cursor: pointer;
}

.report{
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(117, 117, 117);
  font-size: 13px
}