.tag-text{
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
}
.tag-container{
  margin-top: 10px;
  margin-left: 10px;
}

.alltags{
  display: flex;
  flex-wrap:wrap ;
  text-align: center;
  justify-content: center;
}